%h1 Listing trips

%table
  %thead
    %tr
      %th Date
      %th Location
      %th Opponent
      %th Fire Score
      %th Opponent Score
      %th
      %th
      %th

  %tbody
    - @trips.each do |trip|
      %tr
        %td= trip.date
        %td= trip.location
        %td= trip.opponent
        %td= trip.fire_score
        %td= trip.opponent_score
        %td= link_to 'Show Trip Record', trip
        %td= link_to 'Edit Trip Record', edit_trip_path(trip)
        %td= link_to 'Delete Trip Record', trip, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Enter New Trip', new_trip_path
