%p#notice= notice

%p
  %b Date:
  = @trip.date
%p
  %b Location:
  = @trip.location
%p
  %b Opponent:
  = @trip.opponent
%p
  %b Fire Score:
  = @trip.fire_score
%p
  %b Opponent Score:
  = @trip.opponent_score

= link_to 'Edit Trip Record', edit_trip_path(@trip)
\|
= link_to 'View All Trips', trips_path
