%h1 Supporters

%table
  %thead
    %tr
      %th Name
      %th Years Traveling
      %th Matches
      %th Ejections
      %th
      %th
      %th

  %tbody
    - @supporters.each do |supporter|
      %tr
        %td= supporter.name
        %td= supporter.years_traveling
        %td= supporter.matches
        %td= supporter.ejections
        / %td= link_to 'Show', supporter
        %td= link_to 'Edit', edit_supporter_path(supporter)
        %td= link_to 'Delete', supporter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%ul
  %li= link_to 'Add New Supporter', new_supporter_path
  %li= link_to 'Trip List', controller: 'trips'
