%p#notice= notice

%p
  %b Name:
  = @supporter.name
%p
  %b Years Traveling:
  = @supporter.years_traveling
%p
  %b Matches:
  = @supporter.matches
%p
  %b Ejections:
  = @supporter.ejections

%ul
  %li= link_to 'Edit', edit_supporter_path(@supporter)
  %li= link_to 'Supporter Listing', supporters_path
